force-app/main/default/flows/Negoptim__Assortment_BU_Create_Assortment_Details_from_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Assortment_Details_From_Parent</name>
        <label>Clone Assortment Details From Parent</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Negoptim__CloneAssortmentDetailsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assortment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cloneDetailsFromParent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Clone_Assortment_Details_From_Parent_Objective</name>
        <label>Clone Assortment Details From Parent Objective</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Negoptim__CloneAssortmentDetailsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assortment</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cloneDetailsFromParent</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Assortment_Validity_Decision</name>
        <label>Check Assortment Validity Decision</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Assortment_Validity</name>
            <conditionLogic>(1 OR 7) AND 2 AND 3 AND 4 AND 5 AND 6 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Negoptim__Assortment_parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>L4L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Target</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Conso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Conso_Target</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Negoptim__Assortment_Parent_Objective__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Simulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_RecordType_Decision</targetReference>
            </connector>
            <label>Check Assortment Validity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_RecordType_Decision</name>
        <label>Check Parent RecordType Decision</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_From_Parent_Objective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Negoptim__Assortment_Parent_Objective__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nego</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Assortment_Details_From_Parent_Objective</targetReference>
            </connector>
            <label>Clone From Parent Objective</label>
        </rules>
        <rules>
            <name>Clone_From_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nego</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Negoptim__Assortment_parent__r.Negoptim__Assortment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Assortment_Details_From_Parent</targetReference>
            </connector>
            <label>Clone From Parent</label>
        </rules>
    </decisions>
    <formulas>
        <name>Nego_Parent_Year</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Assortment_parent__r.Year__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Assortment Details from Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assortment BU - Create Assortment Details from Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Assortment_Validity_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Negoptim__Assortment_parent__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Negoptim__Assortment_BU__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
