force-app/main/default/flows/Negoptim__Assortment_BU_Clone_Simulation_Flow_By_RecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Remove_Id_And_Assign_RecordTypeId_To_Clone_Nego_Assortment</name>
        <label>Remove Id And Assign RecordTypeId To Clone Nego Assortment</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assortment_BU_RecordType_Options_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Nego.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Assortment_Parent_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Simulation_Assortment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open (in bulding process)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Assortment_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_And_Assign_RecordTypeId_To_Clone_Simulation_Assortment</name>
        <label>Remove Id And Assign RecordTypeId To Clone Simulation Assortment</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assortment_BU_RecordType_Options_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Simulation_Assortment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Simulation_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open (in bulding process)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Assortment_BU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assortment_Validity</name>
        <label>Check Assortment Validity</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assortment_BU_RecordType_Options_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assortment_not_validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Simulation_Assortment.Negoptim__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assortment_Not_Validated_Screen</targetReference>
            </connector>
            <label>Assortment not validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simulation_or_Nego_Assortment_Clone</name>
        <label>Simulation or Nego Assortment Clone</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Remove_Id_And_Assign_RecordTypeId_To_Clone_Simulation_Assortment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Simulation Assortment</defaultConnectorLabel>
        <rules>
            <name>Nego_Assortment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assortment_BU_RecordType_Options_Selection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Simulation_Assortment.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Nego</targetReference>
            </connector>
            <label>Nego Assortment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Assortment_BU_RecordType_Options</name>
        <collectionReference>Get_Assortment_BU_RecordTypes</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Nego_Year</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Simulation_Assortment.Negoptim__Year__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Assortment BU - Clone Simulation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Assortment BU - Clone Simulation Flow By RecordType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Cloned_Assortment_BU</name>
        <label>Insert Cloned Assortment BU</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Display_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Current_Simulation_Assortment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assortment_BU_RecordTypes</name>
        <label>Get Assortment BU RecordTypes</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Simulation_Assortment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negoptim__Assortment_BU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simulation</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nego</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Simulation_Assortment</name>
        <label>Get Current Simulation Assortment</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assortment_Validity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Nego</name>
        <label>Get Parent (Nego)</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Id_And_Assign_RecordTypeId_To_Clone_Nego_Assortment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Negoptim__BU_source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Simulation_Assortment.Negoptim__BU_source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Negoptim__BU_Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Simulation_Assortment.Negoptim__BU_Target__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Orga_HE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Simulation_Assortment.Negoptim__Orga_HE__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Assortment_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nego_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assortment_BU_RecordType_Options_Selection_Screen</name>
        <label>Assortment BU RecordType Options Selection Screen</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Simulation_or_Nego_Assortment_Clone</targetReference>
        </connector>
        <fields>
            <name>Assortment_BU_RecordType_Options_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assortment_BU_RecordType_Options_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assortment_BU_RecordType_Options_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assortment_BU_RecordType_Options_Selection</name>
                    <choiceReferences>Assortment_BU_RecordType_Options</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Simulation_Assortment.RecordTypeId</elementReference>
                    </defaultValue>
                    <fieldText>Assortment BU RecordType Options Selection</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assortment_BU_RecordType_Options_Selection_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Clone</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assortment_Not_Validated_Screen</name>
        <label>Assortment Not Validated Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Assortment_Not_Validated_Message</name>
            <fieldText>&lt;p&gt;{!$Label.negoptim__MSG_Assortment_Not_Validated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Display_Screen</name>
        <label>Error Display Screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ending_Text</name>
            <fieldText>&lt;p&gt;Asasortment Cloned&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate_To_New_Record</name>
            <extensionName>Negoptim:refreshPageAfterFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Simulation_Assortment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assortment_BU_RecordTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
