force-app/main/default/flows/SPKER_SCREEN_Clone_Assortment_Simulation_From_Simulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Fields_for_created_Simulation</name>
        <label>Assign Fields for created Simulation</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assortment_BU_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Negoptim__Assortment_parent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open (in bulding process)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_Parent_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simul</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Assortment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_And_Assign_RecordTypeId_To_Clone_Simulation_Assortment</name>
        <label>Remove Id And Assign RecordTypeId To Clone Simulation Assortment</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assortment_BU_RecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Negoptim__Assortment_parent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open (in bulding process)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_Parent_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Negoptim__Assortment_Parent_Objective__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simul</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Assortment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assortment_Validity</name>
        <label>Check Assortment Validity</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Assortment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assortment_BU_RecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Target</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_for_created_Simulation</targetReference>
            </connector>
            <label>Target Assortment</label>
        </rules>
        <rules>
            <name>Simulation_Assortment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Assortment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Id_And_Assign_RecordTypeId_To_Clone_Simulation_Assortment</targetReference>
            </connector>
            <label>Simulation Assortment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Nego_Year</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Assortment.Negoptim__Year__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SPKER - BU - Clone Assortment  Simulation From Simulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREEN - Clone Assortment Simulation From Simulation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Cloned_Assortment</name>
        <label>Insert Cloned Assortment</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Display_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Current_Assortment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assortment_BU_RecordTypes</name>
        <label>Get Assortment BU RecordTypes</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Assortment</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negoptim__Assortment_BU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simulation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Assortment</name>
        <label>Get Current Assortment</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assortment_Validity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Display_Screen</name>
        <label>Error Display Screen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssortmentClonedMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 189, 182);&quot;&gt;{!$Label.SPKER_MSG_Assortment_Simulation_Created}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate_To_Created_Record</name>
            <extensionName>Negoptim:refreshPageAfterFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Assortment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Negoptim__Assortment_BU_Clone_Simulation_Flow_By_RecordType</sourceTemplate>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assortment_BU_RecordTypes</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
