force-app/main/default/flows/SPKER_SCREEN_Validate_my_Target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_ASD_From_Parent_Objective</name>
        <label>Clone ASD From Parent Objective</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <actionName>CloneAssortmentDetailsInvocableExt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Go_to_Created_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>assortment</name>
            <value>
                <elementReference>Get_Current_Assortment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cloneDetailsFromParentObjective</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Fields_for_created_Nego</name>
        <label>Assign Fields for created Nego</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Nego_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_Parent_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Target_Simulation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Validate_Target_With_Nego</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_for_created_Simulation</name>
        <label>Assign Fields for created Simulation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Simulation_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Assortment.Negoptim__Assortment_parent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open (in bulding process)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment_Parent_Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Assortment.Negoptim__Assortment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Simul</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Validate_Target_With_Simul</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ValidateTarget</name>
        <choiceText>Validate my Target</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ValidateTargetWithNego</name>
        <choiceText>Validate my Target and generate automatically a Negotiation Validate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ValidateTargetWithSimulation</name>
        <choiceText>Validate my Target and generate automatically a Simulation</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Selected_Option</name>
        <label>Check Selected Option</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateTarget</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Validate_Target</targetReference>
            </connector>
            <label>Validate Target</label>
        </rules>
        <rules>
            <name>Validate_my_Target_and_generate_automatically_a_Simulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateTargetWithSimulation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Simulation_RT</targetReference>
            </connector>
            <label>Validate my Target and generate automatically a Simulation</label>
        </rules>
        <rules>
            <name>Validate_my_Target_and_generate_automatically_a_Negotiation_Validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateTargetWithNego</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Nego_RT</targetReference>
            </connector>
            <label>Validate my Target and generate automatically a Negotiation Validate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCREEN - Validate my Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREEN - Validate my Target</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_cloned_Assortment_BU</name>
        <label>Insert cloned Assortment BU</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Clone_ASD_From_Parent_Objective</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Current_Assortment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Assortment</name>
        <label>Get Current Assortment</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Selected_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nego_RT</name>
        <label>Get Nego RT</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fields_for_created_Nego</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negoptim__Assortment_BU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nego</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Simulation_RT</name>
        <label>Get Simulation RT</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fields_for_created_Simulation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negoptim__Assortment_BU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Simulation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status_of_assortment_to_validate</name>
        <label>Set Status of assortment to validate</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Current_Assortment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Negoptim__Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>Negoptim__Assortment_BU__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_MSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_to_Created_Record</name>
        <label>Go to Created Record</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate_To_New_Record</name>
            <extensionName>Negoptim:refreshPageAfterFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Assortment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Options_Screen</name>
        <label>Options Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status_of_assortment_to_validate</targetReference>
        </connector>
        <fields>
            <name>Validate_Target_Options</name>
            <choiceReferences>ValidateTarget</choiceReferences>
            <choiceReferences>ValidateTargetWithSimulation</choiceReferences>
            <choiceReferences>ValidateTargetWithNego</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ValidateTarget</defaultSelectedChoiceReference>
            <fieldText>Validate Target Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Validate_Target</name>
        <label>Screen Validate Target</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MSG_Validate_Target</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 189, 182);&quot;&gt;{!$Label.SPKER_MSG_Assortment_target_Validate_Successfully}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Validate_Target_With_Nego</name>
        <label>Screen Validate Target With Nego</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_cloned_Assortment_BU</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_MSG_Validate_Target</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 189, 182);&quot;&gt;{!$Label.SPKER_MSG_Assortment_target_Validate_Successfully}, a Nego Assortment will be created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Validate_Target_With_Simul</name>
        <label>Screen Validate Target With Simul</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_cloned_Assortment_BU</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MSG_Validate_Target</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 189, 182);&quot;&gt;{!$Label.SPKER_MSG_Assortment_target_Validate_Successfully}, a simulation will be created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Options_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
