force-app/main/default/flows/SPKER_SCREEN_Execute_Consolidate_Assortment_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Conso_Batch</name>
        <label>Execute Conso Batch</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ExecuteBatchInvocableExt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_MSG</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchName</name>
            <value>
                <stringValue>ConsolidateAssortmentBatchExt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startedFrom</name>
            <value>
                <stringValue>SPKER_SCREEN_Execute_Consolidate_Assortment_Batch</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SCREEN - Execute {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREEN - Execute Consolidate Assortment Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_MSG</name>
        <label>Screen MSG</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 189, 182);&quot;&gt;{!$Label.SPKER_MSG_Execute_Assortment_Conso_Batch_Successfully}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Execute_Conso_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
