force-app/main/default/flows/SPKER_SCREEN_Validate_Simulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_is_onTop_true</name>
        <label>Check is onTop true</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Status_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>onTop_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assortment_Data.Negoptim__Target_Simulation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_onTop_true_before_validate</targetReference>
            </connector>
            <label>onTop false</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCREEN - Validate Simulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREEN - Validate Assortment Simulation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assortment_Data</name>
        <label>Get Assortment Data</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_is_onTop_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_onTop_field</name>
        <label>update onTop field</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Status_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Negoptim__Target_Simulation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Negoptim__Assortment_BU__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_field</name>
        <label>Update Status field</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Validate_Simulation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Negoptim__Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>Negoptim__Assortment_BU__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_onTop_true_before_validate</name>
        <label>Confirm onTop true before validate</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_onTop_field</targetReference>
        </connector>
        <fields>
            <name>MSG_Check_onTop_before_validate</name>
            <fieldText>&lt;p&gt;{!$Label.SPKER_MSG_Check_onTop_before_validate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validate_Simulation</name>
        <label>Validate Simulation</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Validate_simulation_screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 186, 253);&quot;&gt;{!$Label.SPKER_MSG_Validate_Simulation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assortment_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
