force-app/main/default/flows/SPKERCADELAC_Generate_Regional_AssortmentBUs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Duplicate_Action</name>
        <label>Execute Duplicate Action</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>DuplicateAssortmentBUInvocable_Ext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isGenerateRegionalAssortment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedBU</name>
            <value>
                <elementReference>selectedBUList</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Fill_Wrapper</name>
        <label>Fill Wrapper</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>selectedBU.selectedBUSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assortment_Data.Negoptim__BU_source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedBU.selectedBUTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fill_BuList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedBUList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedBU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_BuList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Region_Text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Region</stringValue>
        </value>
    </constants>
    <description>Generate regional assortment from national assortment</description>
    <environments>Default</environments>
    <interviewLabel>SPKERCADELAC Generate Regional AssortmentBUs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPKERCADELAC Generate Regional AssortmentBUs</label>
    <loops>
        <name>Fill_BuList</name>
        <label>Fill BuList</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Target_BU_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_Wrapper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Execute_Duplicate_Action</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assortment_Data</name>
        <label>Get Assortment Data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_assortment_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Negoptim__Assortment_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_BU_Children</name>
        <label>Get Target BU Children</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_BuList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Negoptim__Country_origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assortment_Data.Negoptim__BU_Target__r.Negoptim__Country_origin__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Layer_Nego_Conso__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Negoptim__Format_Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assortment_Data.Negoptim__BU_source__r.Negoptim__Format_Origin__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Negoptim__Orga_BU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.LBL_something_wrong} {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_assortment_screen</name>
        <label>Generate assortment screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Target_BU_Children</targetReference>
        </connector>
        <fields>
            <name>Generate_Regional_Assortments</name>
            <fieldText>&lt;p&gt;{!$Label.LBL_Generate_Regional_Assortments}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_msg</name>
            <fieldText>&lt;p&gt;{!$Label.LBL_Regional_Assortment_BUs_generated_successfully}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assortment_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBU</name>
        <apexClass>SelectedBU</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBUList</name>
        <apexClass>SelectedBU</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
